*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7F7F7;
}
#nav{
    padding-top: 8px;
    padding-left: 8px;
    /* height: 100px; */
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;
}
#nav-part1{
    /* background-color: red; */
    height: 86px;
    overflow: hidden;
}
#nav-part1 svg{
    margin-top: 2px;
    margin-left: 12px;
    display: block;
    
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#links{
    padding: 10px;
   
}
#nav #nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
    margin: 0 20px;
}
#nav #nav-part2 #icons i{
    font-size: 20px;
    margin-right: 50px;
    font-weight: 100px;

}
#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#cursor{
    height: 210px;
    width: 220px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}
#page1{
    min-height: 100vh;
    position: relative;
    width: 100% ;
    padding: 0 1vw;   
    padding-top: 30vh;
}
#page1 h1{
    font-size: 12vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    line-height:20vh ;
    letter-spacing: -8px;
    font-weight: bold;
}
#video-container{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 2.5vw 2vw;
    font-weight: bold;
    background-color: black;
    color: #fff;
    position: fixed;
    font-size: 1vw;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 60%;
    opacity: 0;
    scale: 0;
}
#page2{
    min-height: 100vh;
    width: 100%;
    position:relative ;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}
#page2 .elem{
    height: 100vh;
    width: 31%;
    /*background-color: red;*/
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}
#page2 #elem1 .dets{
height: 50px;
border-radius: 55px;
width: 80%;
position: absolute;
background-color: palegoldenrod;
z-index: 9;
}
#page2 #elem2 .dets{
height: 50px;
border-radius: 55px;
width: 80%;
position: absolute;
background-color: palevioletred;
z-index: 9;
}
#page2 #elem3 .dets{
height: 50px;
border-radius: 55px;
width: 80%;
position: absolute;
background-color: lavender;
z-index: 9;
}
#page2 #elem1 .dets:hover{
    height: 180px;

}
#page2 #elem2 .dets:hover{
    height: 180px;

}
#page2 #elem3 .dets:hover{
    height: 180px;

}
#page3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 55vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img{
height: 100%;

}
#foot{
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 30px;
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:600px){
    #nav-part1 svg{
        margin-top: 2px;
        margin-left: 12px;
        margin-right: 12px;
        display: block;
        
        
    }
    #links{
        padding: 5px;
        margin-left: 12px;
      }
      #nav #nav-part2{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }
    #nav #nav-part2 #links a{
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        padding: auto;
        margin-left: 12px; 
    }
    #icons{
        padding: 10px;
        border-radius: 50px;
        background-color: #F7F7F7;
        margin: 0px 60px;
    }
    #page1{
        min-height: 70vh;
        width: 100% ;
        padding: 0 3vw;   
        padding-top: 25vh;
    }
    #page1 h1{
        font-size: 15vw;        
        line-height: 6vh;
        letter-spacing: -3px;
        
    } 
    #video-container{
        height: 25vh;
        width: 100%;
        margin-top: 3vw;
    }
    #video-container #play{
        padding: 7.5vw 6vw;
        font-weight: bold;
        
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 5vw;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }
    #page2{
        min-height: 120vh;
        width: 100%;
        position:relative ;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
    }
    #page2 .elem{
        height: 80vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    #page3{
        min-height: 120vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .child{
        height: 55vh;
        width: 90vw;
        position: relative;
        padding: 8vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .child img{
    height: 100%;
    
    }
    
    
}